body{
    font-family: Arial, Helvetica, sans-serif;

}

#main-title{
    color:blue
}

p{
    color: green;
}

.red-text{
    color: red;
}

.big-text{
    font-size: 25px;
}

.yellow .inner-text{
    color: violet;
}

.pink .inner-text{
    color:blueviolet;
}

.pink{
    background-color: pink;
}

.yellow{
    background-color: rgba(255, 255, 0,0.2);
}

.square{
    width: 100px;
    height: 100px;
    background-color: red;
    margin: auto;
}

.rettangolo-immagine{
    width: 200px;
}

.border{
    border: 5px solid black;
    border-bottom-color: orange;
    border-left-style:dotted ;
}

.text{
    text-align: center;
    text-decoration: underline;
    background-color: aqua;
}

.error{
    text-decoration: line-through;
}

.box{
    width: 300px;
    height: 250px;
    border: 2px solid black;
    background-image: url(../img/Raskrasil.com-Coloring-Pages-Fairy-98.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}