/*reset*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;

}

.container{
    width: 90%;
    margin: auto;
}

#main-title{
    color:blue
}

p{
    color: green;
}

.red-text{
    color: red;
}

.big-text{
    font-size: 25px;
}

.yellow .inner-text{
    color: violet;
}

.pink .inner-text{
    color:blueviolet;
}

.pink{
    background-color: pink;
}

.yellow{
    background-color: rgba(255, 255, 0,0.2);
}

.square{
    width: 150px;
    height: 150px;
    background-color: red;
    margin: auto;
}

.rettangolo-immagine{
    width: 200px;
}

.border{
    border: 5px solid black;
    border-bottom-color: orange;
    border-left-style:dotted ;
}

.text{
    text-align: center;
    text-decoration: underline;
    background-color: aqua;
}

.error{
    text-decoration: line-through;
}

.box{
    width: 300px;
    height: 250px;
    border: 2px solid black;
    background-image: url(../img/Raskrasil.com-Coloring-Pages-Fairy-98.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.border1{
    border: 3px solid blue;
    
}

.padding{
    /*padding-top: 20px;
    padding-right: 15px;
    padding-bottom:30px;
    padding-left:5px;
    */

    /*padding: 15px 20px 30px 5px;*/
    padding: 10px 20px;
}

.margin{
    margin-top: 20px;
}

.radius{
    border-radius: 50% 20%;
}

.mb3{
    margin-bottom: 30px;
}

.d-iblock{
    display: inline-block;
}

.container1{
    width: 80%;
    text-align: center;
}

h1{
    margin-top: 2rem;
    text-align: center;
    
}

h1::before,
h1::after{
    content:""; /*serve per farlo visualizzare alla pagina*/
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: green;
    border-radius: 50%;
}
/*
.circle{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: green;
    border-radius: 50%;
} */

h2::before,
h2::after{
    content: "";
    display: block;
    height: 3px;
    background-color: blue;
}

.wrap{
    margin-top: 20px;
}

.float-left{
    float: left;
}

.float-right{
    float:right;
}

.clear{
    clear: both;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}