#main-title{
    color:blue
}

p{
    color: green;
}

.red-text{
    color: red;
}

.big-text{
    font-size: 25px;
}

.yellow .inner-text{
    color: violet;
}

.pink .inner-text{
    color:blueviolet;
}

.pink{
    background-color: pink;
}

.yellow{
    background-color: yellow;
}

.square{
    width: 100px;
    height: 100px;
    background-color: red;
    margin: auto;
}

.rettangolo-immagine{
    width: 200px;
}

.border{
    border: 5px solid black;
    border-bottom-color: orange ;
    border-left-style:dotted ;
}